<!DOCTYPE html>
<html class=''>
<head>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!-- <script src="/assets/js/jquery-1.11.1.min.js"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!--<link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />-->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
<script src="https://use.typekit.net/hoy3lrg.js"></script>
<!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<link href="/assets/css/notif.css" rel='stylesheet' type='text/css'/>
<link href="/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/assets/css/chat.css" rel='stylesheet' type='text/css'/>
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />



</head>
<header>
<div class="header">
    <div class='container'>
        <div class="header_left">
            <img src="/assets/images/rate.png" alt=""/>
        </div>
        <div class="logo">
            <a href="/"><img src="/assets/images/logo.png" alt=""/>
                <span>Matcha</span>
            </a>
        </div>
        <% if (locals.connected == false){ %>
            <div class="header_right">
                <ul class="header_user_info">
                    <a class="login" href="login">
                        <li class="user_desc"><span class="m_1">Already user ? </span>Login</li>
                        <i class="user"> </i>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </ul>
                <a href="register" class="btn1 btn-1 btn1-1b">Sign Up</a>
            </div>
        <% }else{ %>
            <div class="header_right">
                <ul class="header_user_info">
                    <a class="login" href="profil">
                        <li class="user_desc">Manage your account</li>
                        <i class="user"> </i>
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>
                </ul>
                <a href="logout" class="btn1 btn-1 btn1-1b">Logout</a>
            </div>
        <% } %>
        <div class="clearfix">

            <!--  TEST NOTIF ---------------------------->

            <div class="container_notif">
                <!-- <a href="#" class="button notificationicon on"><div class="notification"></div></a> -->
                <div class="notification"></div>
                    <!-- <button>Increment Notifications</button> -->
            </div>
            <div class="notif_box">
                <ul id="output_notif">
                </ul>

            </div>
            <!--  TEST NOTIF ---------------------------->
        </div>
    </div>
</div>
<div class="profile_banner">
    <div class="container">
        <h3>Chat</h3>
    </div>
</div>
</header>
<body>
<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" src="<%= locals.profil_img != 'undefined' ? `assets/img/${locals.profil_img}` : "http://ssl.gstatic.com/accounts/ui/avatar_2x.png"%>" class="online" alt="" />
				<p><%= locals.username %></p>
				<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
				<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
                    <li  class="contact">
                       <div  class="wrap">
                           <% if (locals.status == 'Y'){ %>
                               <span class="contact-status online"></span>
                           <% }else{ %>
                                <span class="contact-status busy"></span>
                            <% } %>
                           <img id="profilimg" src="" alt="" />
                           <div class="meta">
                               <p class="name"><%= locals.link%></p>
                               <p class="preview"></p>
                           </div>
                       </div>
                   </li>
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content">
		<div class="contact-profile">
			<p id="Userto"><%= locals.link%></p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div  class="messages">
			<ul id="output">
			</ul>
      <div id="feedback"></div>
		</div>
		<div class="message-input">
			<div class="wrap">
            <% if(locals.bloquer == 1){ %>
			<input type="text" placeholder="L'utilisateur vous a bloqué" id="message" disabled/>
            <% }else { %>
            <input type="text" placeholder="Write your message..." id="message"/>
            <% } %>
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <% if(locals.bloquer == 1){ %>
			<button id="send" class="submit bloquer" disabled><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            <% }else { %>
            <button id="send" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            <% } %>
            </div>
		</div>
	</div>
</div>
<div class="footer">
    <div class="container">
        <div class="copy wow fadeInUp" data-wow-delay="0.4s">
            <p>&copy; 2018 Matcha</p>
        </div>
        <div class='clearfix'></div>
    </div>
</div>
<!-- <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://code.jquery.com/jquery-2.2.4.min.js'></script> -->
<script src="http://localhost:8080/socket.io/socket.io.js" language="JavaScript"></script>
<script src="/assets/js/chat.js" language="JavaScript"></script>
<script src="/assets/js/chat2.js" language="JavaScript"></script>
<script src="/assets/js/notif.js" language="JavaScript"></script>

</body></html>
