<!DOCTYPE HTML>
<html>
<head>
    <meta charset='UTF-8'>
    <title>Error!</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic"
          rel="stylesheet" type="text/css"/>
    <link href="/assets/css/nojs.css" media="all" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="layout">
    <div class="title">Javascript is disabled</div>
    <div class="text icon_500">Matcha doesn't work very well without JavaScript. <br> Please review your settings</div>
</div>
</body>
</html>
